# Term Frequency - Inverse Document Frequency (TF-IDF)

In [1]:
from sklearn.feature_extraction.text import TfidfVectorizer;
import pandas;

# Data Loading

In [5]:
dataframe = pandas.read_csv("../data.csv");

In [6]:
dataframe.head()

   sentimen                                              Tweet  Unnamed: 2
0        -1  lagu bosan apa yang aku save ni huhuhuhuhuhuhu...         NaN
1        -1  kita lanjutkan saja diam ini hingga kau dan ak...         NaN
2         1  doa rezeki tak putus inna haa zaa larizquna ma...         NaN
3         1  makasih loh ntar kita bagi hasil aku 99 9 sisa...         NaN
4        -1  aku tak faham betul jenis orang malaysia yang ...         NaN

# Vectorizer

In [7]:
vectorizer = TfidfVectorizer();
vectors = vectorizer.fit_transform(dataframe["Tweet"]);

In [8]:
vectors = vectors.toarray();
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])